<header class="verizon-header">
  <img src="${properties.imgHeader}"/>
  <div class="cmp-container__menu">
    <ul>
      <li class="desktop"><a>Sobre a Verizon</a></li>
      <li class="desktop"><a>Produtos & Serviços</a></li>
      <li class="desktop"><a>Loja online</a></li>
      <li class="desktop"><a>Ajuda</a></li>
      <li class="desktop">
        <img src="{properties.imgCart}"/>
      </li>
      <li class="imgMenuMobile">
        <img src="${properties.imgMenu}"/>
      </li>
      <li>
        <img src="${properties.imgSearch}"/>
      </li>
    </ul>
  </div>
</header>