<section class="verizon-content-container">
  <div class="verizon-content-container__title">
    <h1>Dados pessoais</h1>
    <p>Preencha os seus dados pessoais.</p>
  </div>
  <form class="verizon-form">
    <div class="verizon-form__name">
      <h2>Nome</h2>
      <label for="name">Preencha o seu nome completo</label>
      <input type="text" id="name" placeholder="Nome" required/>
    </div>
    <div class="verizon-form__identification">
      <h2>Documento de identificação</h2>
      <div>
        <span class="id-choice">
          <label for="id-choice">Escolha o seu documento de identificação:</label>
          <input type="text" id="id-choice" placeholder="Cartão de cidadão"/>
        </span>
        <span class="social-number">
          <label for="social-number">Introduza o seu número de identificação:</label>
          <input type="number" id="social-number" required/>
        </span>
      </div>
      <span class="NIF">
        <label for="NIF">Introduza o seu NIF:</label>
        <input type="number" id="NIF" required/>
      </span>
    </div>
    <div class="verizon-form__contact">
      <h1>Contactos</h1>
      <p>Indique os seus contactos</p>
      <div>
        <span class="cellphone">
          <label for="cellphone">Telemóvel:</label>
          <input type="number" id="cellphone"/>
        </span>
        <span class="housenumber">
          <label for="housenumber">Telefone:</label>
          <input type="number" id="housenumber"/>
        </span>
        <span class="email">
          <label for="email">E-mail:</label>
          <input type="email" id="email"/>
        </span>
      </div>
    </div>
  </form>
  <div class="verizon-content-footer">
    <div class="verizon-content-footer__button-footer">
      <button type="submit">Continuar</button>
    </div>
  </div>
</section>